@import "colors";
@import "mixins";

.currency-selector-dropdown {
    .feather {
        width: 18px;
        height: 18px;
    }

    & > .btn {
        background-color: transparent;

        &:hover, &:focus {
            box-shadow: none;
        }
    }

    .dropdown-menu {
        width: 300px;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 90%;

        @include media-xs-only() {
            width: 100%;
        }

        .badge {
            width: 40px;
        }
    }


}