/* version 8.0 [rev.8.0.01] */
@import "../../../css/colors";
@import "../../../css/mixins";
$fontSizeSmall: 85%; // default: 80%

header {
    .logo {
        max-width: 200px;
        margin-top: 1rem;

        @include media-xs-only() {
            max-width: 150px;
        }

        @include media-md-down() {
            margin: 0 auto;
        }
    }

    /* desktop */
    .desktop-navbar {
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .navbar-brand {
            max-width: 225px;
            margin-right: .5rem;
            vertical-align: middle;
        }

        .navbar-header {
            @include align-items(start);
        }

        .navbar-nav {
            &.nav-top-left {
                .nav-link {
                    font-size: $fontSizeSmall;
                    padding: 0;
                }

                .nav-item {
                    padding-right: .5rem;
                }

                .nav-item + .nav-item {
                    padding-left: .5rem;
                    border-left: 1px dotted #e0e0e0;
                }
            }

            &.nav-links-desktop {
                display: none;
            }

            &.nav-main-menu {
                .nav-link {
                    font-weight: 700;
                    padding-left: 0;
                    padding-right: 0;
                }

                .active .nav-link {
                    color: #0056b3;
                }

                .nav-item {
                    padding-left: .75rem;
                    padding-right: .75rem;

                    &:first-child {
                        padding-left: 0;
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }

        .bg-search {
            background-color: rgba(229, 244, 255, 0.6);
        }

        .nav-search {
            padding-top: 0;
            padding-bottom: 0;
        }

        .fs-dropdown:hover > .dropdown-menu {
            display: block;
        }
    }
}

.navbar-categories {
    & > li {
        padding: .75rem 1.5rem;
    }

    & > li + li {
        border-left: 1px solid rgba(0, 0, 0, .05);
    }

    & > li:last-child {
    }

    .dropdown-toggle::after {
        display: none;
    }
}
.fs-dropdown {
    position: static !important;
}
.fs-dropdown-menu {
    margin-top: .05rem;
    padding-top: 20px;
    width: 100%;
}
.masonry-layout {
    column-count: 3;
    column-gap: 0;
}
.masonry-layout__panel {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    padding-left: 1rem;
}
.subcategory-header {
    color: $gray-dark;
    font-weight: 500;
    font-size: 1.1rem;

    a {
        color: $gray-dark;
        text-shadow: none;
    }
}